.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  color: #180606;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
}

.subtitle {
  font-size: 21px;
  color: #240b0b;
  margin-bottom: 40px;
  font-family: 'Arial', sans-serif;
}

.lessonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.lessonButton {
  padding: 10px 20px;
  background-color: #000768;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lessonContent {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.lessonTitle {
  
  font-size: 52px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
}

.lessonDescription {
  margin-top: 100px;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.chessboardAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  margin-top: 20px;
  height: 450px; /* Or you can adjust the height based on the content */
}

.chessboardContainer {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 400px; /* You can adjust the height as per your preference */
}
