.memes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top:50px;
  text-align: center;
  padding: 20px;
}

.memes-title {
  font-size: 32px;
  color: #0c0303;
  margin-bottom: 10px;
}

.memes-subtitle {
  font-size: 20px;
  color: #290909;
  margin-bottom: 20px;
}

.memes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
}

.meme-card {
  background: rgb(65, 53, 53);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.meme-card:hover {
  background: rgb(109, 38, 38);
  transform: scale(1.05);
}

.meme-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 300px;
  object-fit: cover;
}

.reaction-buttons {
  
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.reaction-btn {
  border: none;
  background: #cc0336;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.reaction-btn:hover {
  background: #ff0000;
}

.reaction-btn.active {
  background-color: #f0f0f0;
  color: #000;
  border: 2px solid #333;
}
