/* General Styles */
.quiz-container {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.feedback{
  color: white;
}
.quiz-title {
  margin-top: 70px;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

.quiz-subtitle {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 20px;
}

.task-container {
  margin-bottom: 20px;
}

.task {
  font-size: 20px;
  color: #ff0000;
  margin-bottom: 8px;
}

.task.completed {
  text-decoration: line-through;
  color: #00fa2a;
}

.chessboard-container {
  margin-left: 20px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 400px; /* Ensure the container has enough height */
  margin-bottom: 20px;
}

